
*.cdb
*.hdb
*.qmsg
*.rdb
*.ddb
*.xml
*.bpm
*.idb
*.kpt
*.logdb
*.db_info
*.hier_info
*.hif
*.ipinfo
*.html
*.txt
*.ammdb
*.flock
*.sci
*.tdb
*.syn_hier_info
*.tmw_info
*.dat
*.qpf
*.qsf
*.bak
*.rpt
/verilog/half_adder/incremental_db
/verilog/half_adder/simulation
/verilog/half_adder/output_files
*.qws
verilog/full_adder/incremental_db/compiled_partitions/full_adder.root_partition.cmp.dfp
verilog/full_adder/incremental_db/compiled_partitions/full_adder.root_partition.cmp.rcfdb
verilog/full_adder/incremental_db/compiled_partitions/full_adder.root_partition.map.dpi
verilog/full_adder/incremental_db/compiled_partitions/full_adder.root_partition.map.hbdb.hb_info
verilog/full_adder/incremental_db/compiled_partitions/full_adder.root_partition.map.hbdb.sig
verilog/full_adder/incremental_db/README
verilog/full_adder/output_files/full_adder.done
verilog/full_adder/output_files/full_adder.fit.smsg
verilog/full_adder/output_files/full_adder.fit.summary
verilog/full_adder/output_files/full_adder.jdi
verilog/full_adder/output_files/full_adder.map.summary
verilog/full_adder/output_files/full_adder.pin
verilog/full_adder/output_files/full_adder.pof
verilog/full_adder/output_files/full_adder.sof
verilog/full_adder/output_files/full_adder.sta.summary
verilog/full_adder/simulation/modelsim/full_adder.sft
verilog/full_adder/simulation/modelsim/full_adder.vo
verilog/full_adder/simulation/modelsim/full_adder_fast.vo
verilog/full_adder/simulation/modelsim/full_adder_modelsim.xrf
verilog/full_adder/simulation/modelsim/full_adder_run_msim_rtl_verilog.do
verilog/full_adder/simulation/modelsim/full_adder_v.sdo
verilog/full_adder/simulation/modelsim/full_adder_v_fast.sdo
verilog/full_adder/simulation/modelsim/modelsim.ini
verilog/full_adder/simulation/modelsim/msim_transcript
verilog/full_adder/simulation/modelsim/rtl_work/@f@u@l@l_@a@d@d@e@r/_primary.dbs
verilog/full_adder/simulation/modelsim/rtl_work/@f@u@l@l_@a@d@d@e@r/_primary.vhd
verilog/full_adder/simulation/modelsim/rtl_work/@f@u@l@l_@a@d@d@e@r/verilog.prw
verilog/full_adder/simulation/modelsim/rtl_work/@f@u@l@l_@a@d@d@e@r/verilog.psm
verilog/full_adder/simulation/modelsim/rtl_work/_info
verilog/full_adder/simulation/modelsim/rtl_work/_vmake
verilog/full_adder/simulation/modelsim/rtl_work/full_adder_tb/_primary.dbs
verilog/full_adder/simulation/modelsim/rtl_work/full_adder_tb/_primary.vhd
verilog/full_adder/simulation/modelsim/rtl_work/full_adder_tb/verilog.prw
verilog/full_adder/simulation/modelsim/rtl_work/full_adder_tb/verilog.psm
verilog/full_adder/simulation/modelsim/vsim.wlf
*.dfp
*.rcfdb
*.dpi
*.hb_info
*.sig
verilog/magnitude_comparator/incremental_db/README
/verilog/magnitude_comparator/output_files
/verilog/magnitude_comparator/simulation
/verilog/binary_to_gray/output_files
/verilog/binary_to_gray/simulation
verilog/binary_to_gray/incremental_db/README
/verilog/gray_to_binary/output_files
/verilog/gray_to_binary/simulation
verilog/gray_to_binary/incremental_db/README
/verilog/binary_to_7seg/output_files
/verilog/binary_to_7seg/simulation
verilog/binary_to_7seg/incremental_db/README
/verilog/led_blinking_1s/output_files
/verilog/led_blinking_1s/simulation
verilog/led_blinking_1s/incremental_db/README
/verilog/binary_7_seg_improved/output_files
/verilog/binary_7_seg_improved/simulation
verilog/binary_7_seg_improved/incremental_db/README
verilog/bcd_to_7_seg/incremental_db/README
/verilog/bcd_to_7_seg/output_files
/verilog/bcd_to_7_seg/simulation
/verilog/bcd_to_7seg_8displays/output_files
/verilog/bcd_to_7seg_8displays/simulation
verilog/bcd_to_7seg_8displays/incremental_db/README
/verilog/leds_scanner/output_files
/verilog/leds_scanner/simulation
verilog/leds_scanner/incremental_db/README
/verilog/jk_flipflop_simple/output_files
/verilog/jk_flipflop_simple/simulation
verilog/jk_flipflop_simple/incremental_db/README
/verilog/d_flipflop_simple/simulation
/verilog/d_flipflop_simple/output_files
verilog/d_flipflop_simple/incremental_db/README
/verilog/t_flipflop_simple/output_files
/verilog/t_flipflop_simple/simulation
verilog/t_flipflop_simple/incremental_db/README
/verilog/binary_counter_4bit_asynchronous/output_files
/verilog/binary_counter_4bit_asynchronous/simulation
verilog/binary_counter_4bit_asynchronous/incremental_db/README
