
*.cdb
*.hdb
*.qmsg
*.rdb
*.ddb
*.xml
*.bpm
*.idb
*.kpt
*.logdb
*.db_info
*.hier_info
*.hif
*.ipinfo
*.html
*.txt
*.ammdb
*.flock
*.sci
*.tdb
*.syn_hier_info
*.tmw_info
*.dat
*.qpf
*.qsf
*.bak
*.rpt
/verilog/half_adder/incremental_db
/verilog/half_adder/simulation
/verilog/half_adder/output_files
*.qws
